process {
    withName: 'FastQC' {
        container = 'biocontainers/fastqc:v0.11.9_cv7'  // Container específico para o FastQC
    }
    withName: 'MultiQC' {
        container = 'multiqc/multiqc'  // Container específico para o MultiQC
    }
}

params {
    reads = "data/*.fastq"
    fasta = "data/chr22.fasta"
    //db = "data/blast_db"
}
